@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("~@/assets/font/MuseoSansCyrl-300.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("~@/assets/font/MuseoSansCyrl-500.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("~@/assets/font/MuseoSansCyrl-700.otf");
  font-weight: 600;
}
