//colors
$c_black: #27272F;
$c_blue_main: #5F95FE;
$c_gray_dark: #4f4f4f;

$container_width: 1200px;
$container_margin: 15px;
$gutter: 15px;
$grid_columns: 24;

//size device
$a_xl: 1200px;
$a_lg: 1024px;
$a_md: 767px;
$a_xs: 480px;
