.working-client {

  &__content {
    padding: 20px;
    position: relative;
    height: 250px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 30px rgba($c_gray_dark, 0.15);
  }

  &__content:hover {
    box-shadow: 0 0 60px rgba($c_blue_main, 0.3);
  }

  &__logo img {
    max-width: 100%;
    max-height: 100%;
    filter: grayscale(100%);
  }

  &__content:hover img {
    filter: none;
  }
}
