.additional-services {
  font-size: 100px;
  font-weight: 600;
  height: 350px;
  display: flex;
  color: $c_gray_dark;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $c_gray_dark;
}
